<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Slim 3</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }
        </style>
    </head>
    <body>
        <h1>Slim</h1>
        <div>a microframework for PHP</div>

        <form action="/login" method="POST">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="youremail@gmail.com" required>
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password" placeholder="password" required>
            <input type="submit" value="submit">
          </form>

        <form action="/adduser" method="POST">
            <label for="name">FirstName</label>
            <input type="text" name="name" id="name" placeholder="enter your name" required>
            <label for="surname">Surname</label>
            <input type="text" name="surname" id="surname" placeholder="enter your surname " required>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="youremail@gmail.com" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="password" required>
            
            <input type="submit" value="submit">
        </form>



        {% if newId %}
        <p>You successfuly added a new person with id {{newId}}</p>
        {% endif %}

        {% if args['name'] is defined %}
          <h2>Hello {{ args['name']|escape }} !</h2>
        {% else %}
          <p>Try <a href="http://www.slimframework.com">SlimFramework</a></p>
        {% endif %}
    </body>
</html>
